<div id="cloudsLayer">

  <h1>How is the weather in Prussia right now?</h1>
  </br></br>
  {{errorMsg}}

  <div class="container">
    <div class="row">
      
      <div class="col-md-4">
        <ul><span><strong>{{cityName0}}</strong></span>
          <img src={{icon0}}>
          <li><span>Conditions: </span>{{conditions0}}</li>
          <li><span>Temperature: </span>{{temp0}} F</li>
        </ul>
        </br>
      </div>

      <div class="col-md-4">
        <ul><span><strong>{{cityName1}}</strong></span>
          <img src={{icon1}}>
          <li><span>Conditions: </span>{{conditions1}}</li>
          <li><span>Temperature: </span>{{temp1}} F</li>
        </ul>
        </br>
      </div>

      <div class="col-md-4">
        <ul><span><strong>{{cityName2}}</strong></span>
          <img src={{icon2}}>
          <li><span>Conditions: </span>{{conditions2}}</li>
          <li><span>Temperature: </span>{{temp2}} F</li>
        </ul>
        </br>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <ul><span><strong>{{cityName3}}</strong></span>
          <img src={{icon3}}>
          <li><span>Conditions: </span>{{conditions3}}</li>
          <li><span>Temperature: </span>{{temp3}} F</li>
        </ul>
        </br>
      </div>
      <div class="col-md-4">
        <ul><span><strong>{{cityName4}}</strong></span>
          <img src={{icon4}}>
          <li><span>Conditions: </span>{{conditions4}}</li>
          <li><span>Temperature: </span>{{temp4}} F</li>
        </ul>
      </div>
    </div>

  </div>

  </br></br></br></br>

</div>
